[MASTER]
init-hook='import sys; sys.path.append(".")'

[MESSAGES CONTROL]
# Deactivate specific error messages
disable=
    import-error,  # For PySide6 imports
    ; trailing-whitespace,  # For trailing whitespace
    ; missing-module-docstring,  # For module docstrings
    ; wrong-import-order  # For import order

[FORMAT]
# Maximum number of characters on a single line
max-line-length=100

[BASIC]
# Regular expression which should only match function or class names
good-names=i,j,k,ex,Run,_,id,qt